<!DOCTYPE html>
<html>

<head>
	<title>Traveler</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="/libs/font-awesome.min.css">
	<link rel="stylesheet" href="/libs/animate/animate.min.css">	
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Poppins:400,500,600,700"
		rel="stylesheet">


</head>

<body>
	<div id="loader">
		<div id="loaderInner"></div>
	</div>

	<header>
		<div class="container">
			<nav class="menu_main">
				<div class="logo">
					<span id="logo">Pro Treveler Blog</span>
				</div>
				<div class="menu">
					<ul>
						<li><a href="#">Blog</a></li>
						<li><a href="#">About</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</div>
				<div class="registration_list">
					<ul>
						<li><a href="">Login</a></li>
						<li><a href="">Logout</a></li>
						<li><a href="">Registration</a></li>
					</ul>
				</div>
			</nav>
		</div>
	</header>