<% include ./partials/header %>
<head>
		<link rel="stylesheet" href="/stylesheets/contact.css">
</head>

<section >
	<div class="container form_animate">
	<h4>If something went wrong or you have suggestion how to improve our blog platform, you can leave your message bellow</h4>
<div class="form" >
		<form action="#" class="form_area">
			<div class="add_post">
				<p>Your Subject <span id="star">*</span></p>
				<input type="text" name="headline" id="name" maxlength="300" class="form-input"  required="true">
			</div>
			
			<div class="add_post">
				<p>Message <span id="star">*</span></p>
				<textarea name="message" maxlength="3000" rows="1" class="form-input message" required="true"></textarea>
			</div>
			<div class="add_post">
		<button name="button" type="normal" class="btn">Send</button>	
	</div>
	</form>
</div>
</section>
<section id="quote">
		<span class="quote">– " I'm in love with cities I've never been 
				<br> to and people I've never met. " – John Green.</span>
</section>

<% include ./partials/footer %>