<!DOCTYPE html>
<html>
  <head>
    <title>Traveler</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/lending.css">
  </head>
  <body>
    <div id="landing-header">
			<span id="logo">Pro Treveler Blog</span>
      <h1>Hello traveler, wanna share your trip?</h1>
      <a href="#" class="btn btn-lg btn-info">Enter Blog</a>
    </div>
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
		</ul>
	</body>
</html>