.navigation {
  position: relative;
  overflow: hidden;
  z-index: 1000;
  &__background {
    background-image: linear-gradient(
                    to right bottom,
                    rgba($color-primary-green-light, 1),
                    rgba($color-primary-green-dark, 1));
    position: fixed;
    top: 0;
    left: 0;
    height: 6rem;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
  }
  &__menu--left {
    float: left;
    margin-left: 5%;
  }
  &__menu--right {
    float: right;
    margin-right: 5%;
  }
  &__list{
    list-style: none;
    padding-top: 2.25rem;
    &--link{
      display: inline-block;
      transition: all .3s;
      &:link,
      &:visited{
        text-decoration: none;
        text-transform: uppercase;
        color: $color-white;
      }
      &:hover{
        background-color: rgba($color-white, .2);
        transform: scale(1.01);
      }
    }
    &--item{
      display: inline-block;
      letter-spacing: .2rem;
      &:not(:last-child){
        padding-right: 2rem;
      }
    }
  }
}