.auth{
  padding-top: 16rem;
  margin: 0 auto;
  width:80%;
  text-align: center;
  h2{
    background-image: linear-gradient(to bottom, $color-primary-green-light, $color-primary-green-dark);
    -webkit-background-clip: text;
    color: transparent;
  }
}