.heading-primary{
  color: $color-white;
  font-size: 5rem;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
}
.secondary-heading{
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
  letter-spacing: .1rem;
  font-family: 'Libre Baskerville', serif;
}
.paragraph{
  font-size: 1.7rem;
  margin-bottom: 3rem;
  font-family: 'Libre Baskerville', serif;
  letter-spacing: .1rem;

}