<% include ../partials/header %>

<head>
		<link rel="stylesheet" href="/stylesheets/article.css">
</head>

<section class="container">
	<div class="article">
		<h1 class="article_heading">
			<%= post.name %>
		</h1>
		<div class="article_author">
			<img src="/images/avatar.png" alt="">
			<span> <a href="#"> Duncan Maclaud</a></span>
			<span>21.06.2019</span>
		</div>
		<div class="article_img">
			<img src="<%= post.imageUrl %>" alt="">
		</div>
		<div class="article_text">
			<div class="left_animate">
				<p>
					<%= post.description %>
				</p>
			</div>
		</div>
	</div>
	<span class="number_comments">Comments (7)</span>
	<div class="comments">
		<div class="comments_user_area">
			<img src="/images/avatar.png" alt="">
			<span><a href="
							4">Dacki Duck</a> </span>
			<span class="data">22.12.2019</span>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto ipsa facilis blanditiis sunt, maxime unde
				magnam fuga aliquam laboriosam ut debitis,
				beatae assumenda quia vitae quos cumque incidunt voluptate commodi.Consequuntur molestias ipsam.
			</p>
			<ul class="btn">
				<li><a href="#">Delete</a></li>
				<li><a href="#">Edit</a></li>
			</ul>
		</div>
	</div>
	<div class="comment_area">
		<textarea name="" id="" cols="30" rows="10" placeholder="Write your comment"></textarea>
		<div class="comment_area_btn">
			<a href="#">Send</a>
		</div>
	</div>

</section>


</section>




<% include ../partials/footer %>